---
import { BASE_URL } from "../configs/site_data";
import type { Props } from "../types";

// Components
import FormattedDate from "./FormattedDate.astro";

// End of Components
const { blog : 
	{
		slug,
		data: { image, title, created_at, description },
	} 
}: Props = Astro.props;
---

<article
  class="overflow-hidden rounded-lg border-[1px] border-gray-600 bg-black"
>
  <figure class="relative">
    <img
      src={image}
      alt={title}
      class="h-[300px] w-full select-none object-cover"
    />
    <figcaption
      class="absolute inset-0 flex flex-col justify-end bg-gradient-to-b from-transparent to-black p-4"
    >
      <h2 class="text-2xl font-bold">{title}</h2>
      <small class="indent-0.5 text-xs">
        Posted on <FormattedDate date={created_at} />
      </small>
      <p class="mt-2 text-neutral-400">{description}</p>
    </figcaption>
  </figure>
  <section>
    <a
      href={BASE_URL + "/blogs/" + slug}
      class="block w-full bg-[#008080] py-2 text-center text-lg font-bold hover:bg-[#00AAAA]"
    >
      READ MORE
    </a>
  </section>
</article>
